/*NAV BAR - STYLE*/
.container-fluid{
  background-color:rgba(23, 43, 87, 0.26);
  font-weight: 500;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: fit-content;


}
/*Cart Button*/
.btn-cart{
  background-color: aliceblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 500;
}

/*Section 2 - bill board*/
.BillBoard
{
  text-align: center;
  justify-content: center;
  height:100px;
  width: auto;
  background-color: rgb(1, 2, 17);
  color:white;
   
}
.card{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height:420px;
  width: 300px;
  border-color:rgba(236, 215, 20, 0.815);
  
   
}
.CardFlex{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap:10px;
}



.product_name{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: small;
  height: 500px;
 
}
.rating{
  color: yellow;
  display: flex;
  justify-content: center;
}
.cost{
  text-decoration-line:line-through;
  
}

.card-button{
  width: 300px;
  height: 50px;
  border-radius: 5px;
  background-color:rgba(23, 43, 87, 0.26);
}
/*Footer style*/
.Footer{
  background-color: rgb(1, 2, 17);
  color: aliceblue;
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
}